@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}




/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.top-header {
    height: 1000px;
    background-image: url('../images/header-background.jpg');
    background-size: cover;
}

.top-header .top-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.top-header .top-wrapper .menu {
    font-size: 40px;
    color: #fff;
}



.top-header .top-text {
    height: 904.6px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.top-header .top-text .top-text1 {
    font-family: 'Georgia';
    font-weight: 300;
    color: #fff;
    font-size: 51.76px;
    text-transform: uppercase;
}

.top-header .top-text .top-text2 {
    font-family: 'Georgia';
    font-weight: 300;
    color: #fff;
    font-size: 103.51px;
    text-transform: uppercase;
}

.top-header .top-text .top-text3 {
    font-family: 'OpenSans';

    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.we-are-the-best .the-best-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0;
    align-items: center;
    

}

.we-are-the-best .the-best-items .the-best-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 24%;


}

.we-are-the-best .the-best-items .the-best-item .the-best-text {
    font-family: 'OpenSans';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.we-are-the-best .the-best-items .the-best-item .item-font {
    font-size: 46px;
    color: #000;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 60px;
}

.we-are-the-best .the-best-items .the-best-item .item-font:hover {
    background: #e54c4c;
    color: #fff;
}

.we-are-the-best .the-best-items .the-best-item .item-font:hover .we-are-the-best-png {
    display: none;
}

.we-are-the-best .the-best-items .the-best-item .item-font:hover .we-are-the-best-png-hover {
    display: block;
}

.we-are-the-best .the-best-items .the-best-item .item-font .we-are-the-best-png-hover {
    display: none;
}

.we-are-the-best .the-best-items .the-best-item .the-best-paragraph {
    color: #666;
    font-size: 13px;
    line-height: 23px;
}

.easy-to-acces {
    background-image: url('../images/easy-to-acces-background.jpg');
    background-size: cover;
    height: 666px;
}

.easy-to-acces .easy-to-acces-wrapper {
    position: relative;
    display: flex;
    height: 666px;
    justify-content: space-between;
    align-items: center;
}

.easy-to-acces .left-smartfon {
    margin-left: -140px;

}

.easy-to-acces .right-text {
    width: 70%;
}

.easy-to-acces .right-text .right-text-heading {
    font-family: 'Georgia';
    font-size: 49px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.easy-to-acces .right-text .right-text-paragraph {
    font-family: 'OpenSans';
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
}

.easy-to-acces .right-text .read-more {
    font-family: 'Georgia';
    font-size: 20px;
    color: #fff;
}

.easy-to-acces .right-text .read-more .easy-to-acces-right {
    position: relative;
    top: 4px;
    right: -4px;
}

.easy-to-acces .left-smartfon img {
    position: absolute;
    bottom: 0;

}

.our-services {
    padding: 108px 0 125px 0;
}

.our-services .our-services-heading .our-services-heading-h2 {
    font-family: 'OpenSans';
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #444;
}

.our-services .our-services-heading .our-services-heading-paragraph {
    font-family: 'OpenSans';
    font-size: 13px;
    color: #666;
    margin-bottom: 150px;
}

.our-services .our-services-heading .our-services-heading-h2,
.our-services .our-services-heading .our-services-heading-paragraph {
    text-align: center;
}

.our-services .our-services-items {
    display: flex;
    justify-content: space-between;
}


.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-font {}

.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-text {
    width: calc(100% - 80px);
}

.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-font img {}

.our-services .our-services-items .our-services-items-right .our-services-item .our-services-item-font {
    width: 83px;
    margin-right: 20px;
}

.our-services .our-services-items .our-services-items-left .our-services-item,
.our-services .our-services-items .our-services-items-right .our-services-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}


.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-font:hover .our-services-png,
.our-services .our-services-items .our-services-items-right .our-services-item .our-services-item-font:hover .our-services-png {
    display: none;
}

.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-font:hover .our-services-png-hover,
.our-services .our-services-items .our-services-items-right .our-services-item .our-services-item-font:hover .our-services-png-hover {
    display: block;
}

.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-font .our-services-png-hover,
.our-services .our-services-items .our-services-items-right .our-services-item .our-services-item-font .our-services-png-hover {
    display: none;
}


.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-text .our-services-item-text-h2,
.our-services .our-services-items .our-services-items-right .our-services-item .our-services-item-text .our-services-item-text-h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #555;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-text .our-services-item-text-paragraph,
.our-services .our-services-items .our-services-items-right .our-services-item .our-services-item-text .our-services-item-text-paragraph {
    font-family: 'Roboto';

    font-size: 13px;
    color: #555;
    line-height: 23px;
}

.features {
    height: 833px;
    background: url('../images/features-background.jpg');
    background-size: cover;
}

.features .features-heading .features-heading-h2 {
    font-family: 'Georgia';
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 113px;
}

.features .features-bottom-picture-box .features-item {
    position: relative;
    display: flex;
    color: #fff;
    z-index: 99;
    width: 45%;
    flex-wrap: wrap;
    align-items: center;
}

.features .features-bottom-picture-box .features-item .features-h2 {
    width: calc(100% - 189px);
    font-family: 'OpenSans';
    font-size: 20px;
    color: #fff;
    line-height: 26px;
}

.features .features-bottom-picture-box .features-item.item1 {
    top: -50px;
}

.features .features-bottom-picture-box .features-item.item2 {
    top: -80px;
    text-align: right;
}

.features .features-bottom-picture-box .features-item.item3 {
    top: 25px;
}

.features .features-bottom-picture-box .features-item.item4 {
    top: 17px;
}

.features .features-bottom-picture-box .features-item.item2 .features-h2 {
    order: 3;
}

.features .features-bottom-picture-box .features-item.item2 .features-line {
    order: 2;
}

.features .features-bottom-picture-box .features-item.item2 .features-circle {
    order: 1;
}

.features .features-bottom-picture-box .features-item.item4 .features-circle {
    order: 1;
}

.features .features-bottom-picture-box .features-item.item4 .features-line {
    order: 2;
}

.features .features-bottom-picture-box .features-item.item4 .features-h2 {
    order: 3;
    text-align: right;
}

.features .features-bottom-picture-box .features-item .features-line {
    display: inline-block;
    width: 180px;
    height: 3px;
    background-color: #fff;
}

.features .features-bottom-picture-box .features-item .features-circle {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50%;
}

.features .features-bottom-picture-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    height: 672px;
    align-content: center;

}

.features .features-bottom-picture-box .features-bottom-picture {
    position: absolute;
    bottom: 0;
    right: 300px;
}


.why-work-with-us {
    padding: 150px 0 140px 0;
}

.why-work-with-us .why-work-with-us-heading .why-work-with-us-heading-h2 {
    font-family: 'OpenSans';
    font-size: 48px;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

.why-work-with-us .why-work-with-us-heading .why-work-with-us-heading-paragraph {
    font-family: 'OpenSans';
    font-size: 13px;
    color: #666;
    line-height: 32px;
    text-align: center;
    padding-bottom: 35px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 75px;
}

.why-work-with-us .why-work-with-us-items .why-work-with-us-item .why-work-with-us-item-h2 {
    font-family: 'OpenSans';
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 34px;
}

.why-work-with-us .why-work-with-us-items .why-work-with-us-item .why-work-with-us-item-paragraph {
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 22px;
    color: #fff;

}

.why-work-with-us .why-work-with-us-items {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.why-work-with-us .why-work-with-us-items .why-work-with-us-item {
    padding: 48px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 10px;
    background-color: #2d2d2d;
}

.why-work-with-us .why-work-with-us-items .why-work-with-us-item .why-work-with-us-item-img {
    width: 46px;
    margin-bottom: 55px;
}

.why-work-with-us .why-work-with-us-items .why-work-with-us-item:hover {

    background-color: #e55454;
}


.why-work-with-us2 {
    text-align: center;
    background-color: #e54c4c;
    padding: 127px 0;
}

.why-work-with-us2 .why-work-with-us2-heading .why-work-with-us2-heading-h2 {
    font-family: 'OpenSans';
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
}

.why-work-with-us2 .why-work-with-us2-heading .why-work-with-us2-heading-paragraph {
    font-family: 'OpenSans';
    font-size: 13px;
    color: #fff;
    line-height: 32px;
}


.meet-our-team {
    padding: 110px 0 80px 0;
    text-align: center;
}

.meet-our-team .meet-our-team-heading .meet-our-team-heading-h2 {
    font-family: 'OpenSans';
    font-size: 48px;
    color: #2d2d2d;
    text-transform: uppercase;

    margin-bottom: 23px;
}

.meet-our-team .meet-our-team-heading .meet-our-team-heading-paragraph {
    font-family: 'OpenSans';
    font-size: 13px;
    color: #2d2d2d;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 114px;
    padding-bottom: 45px;
}

.meet-our-team .meet-our-team-items {
    display: flex;
    justify-content: space-around;

}

.meet-our-team .meet-our-team-items .meet-our-team-item {
    width: 26.042%;
}

.meet-our-team .meet-our-team-items .meet-our-team-item .meet-our-team-item-picture .meet-our-team-img {
    border-radius: 50%;
    width: 212px;
    height: 212px;
    margin-bottom: 33px;
}

.meet-our-team .meet-our-team-items .meet-our-team-item .meet-our-team-item-text .meet-our-team-item-title {
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #3b4550;
    margin-bottom: 10px;
}

.meet-our-team .meet-our-team-items .meet-our-team-item .meet-our-team-item-text .meet-our-team-item-subtitle1 {
    font-family: 'Georgia';
    font-size: 13px;
    color: #9fa4af;
    margin-bottom: 21px;

}

.meet-our-team .meet-our-team-items .meet-our-team-item .meet-our-team-item-text .meet-our-team-item-subtitle2 {
    font-family: 'OpenSans';
    font-size: 13px;
    color: #848994;
    line-height: 22px;
    margin-bottom: 35px;
}

.meet-our-team .meet-our-team-items .meet-our-team-item .meet-our-team-item-icons {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 0 auto;
}

.meet-our-team .meet-our-team-items .meet-our-team-item .meet-our-team-item-icons span {
    font-size: 13px;
    color: #c5c9d2;

}

.meet-our-team-footer {
    background-color: #e54c4c;
    padding: 55px 0;
}

.meet-our-team-footer .meet-our-team-footer-wrapper {
    display: flex;
    align-items: center;
}

.meet-our-team-footer .meet-our-team-footer-wrapper .meet-our-team-footer-text .meet-our-team-footer-text-h2 {
    font-family: 'Georgia';
    font-size: 22px;
    color: #fff;
    text-align: left;
    margin-right: 108px;
    padding-left: 10px;
}

.meet-our-team-footer .meet-our-team-footer-wrapper .meet-our-team-footer-icon .right-icon {
    font-size: 40.08px;
    color: #fff;
}

.footer {

    background: url('../images/footer-background-map.jpg');
    background-size: cover;
    padding-top: 70px;
}



.footer .footer-form .footer-message .footer-message-top {
    display: flex;
    justify-content: space-between;


}

.footer .footer-form .footer-message .footer-message-textarea {
    display: flex;
    justify-content: space-between;


}

.footer .footer-form .footer-message .footer-message-top .footer-name {
    width: 50%;
    height: 46px;
    padding-left: 25px;
    border-radius: 3px;
    margin: 0 15px 0 10px;
    font-family: 'Georgia';
    font-size: 14px;
    color: #7b7b7b;
}

.footer .footer-form .footer-message .footer-message-top .footer-email {
    width: 50%;
    height: 46px;
    padding-left: 25px;
    border-radius: 3px;
    margin: 0 10px 0 15px;
    font-family: 'Georgia';
    font-size: 14px;
    color: #7b7b7b;
}

.footer .footer-form .footer-message .footer-message-textarea .footer-textarea {
    margin: 43px 10px 40px 10px;
    width: 100%;
    height: 138px;
    border-radius: 3px;
    padding-left: 25px;
    padding-top: 25px;
    font-family: 'Georgia';
    font-size: 14px;
    color: #7b7b7b;

}

.footer .footer-form .footer-message .footer-message-captcha {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;

}

.footer .footer-form .footer-message .footer-message-captcha .footer-message-captcha-left {
    border-radius: 3px;
    font-family: 'OpenSans';
    font-size: 14px;
    color: #fff;
    padding: 0 33px 0 33px;
    margin-right: 15px;
    border: 1px solid #d4d4d4;
    line-height: 48px;
    text-align: center;
    width: 170px;

}

.footer .footer-form .footer-message .footer-message-captcha .footer-message-captcha-right {
    border-radius: 3px;
    font-family: 'OpenSans';
    font-size: 14px;
    color: #fff;
    padding: 0 33px 0 33px;
    border: 1px solid #d4d4d4;
    line-height: 48px;
    text-align: center;
    width: 170px;

}

.footer .footer-form .footer-message .footer-message-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 87px;

}

.footer .footer-form .footer-message .footer-message-bottom .footer-message-submit {
    width: 100%;
    font-family: 'Georgia';
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #e54c4c;
    border: none;
    margin: 0 97px;
    border-radius: 3px;
    padding: 30px 0;

}

.footer .footer-text,
.footer .footer-text-paragraph {
    text-align: center;
}

.footer .footer-text .footer-text-h2 {
    font-family: 'OpenSans';
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.footer .footer-text-paragraph {
    font-family: 'OpenSans';
    font-size: 13px;
    color: #fff;
    line-height: 22px;
    padding-bottom: 138px;
}

.footer .footer-icons .footer-icons-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}

.footer .footer-icons .footer-icons-logo .footer-logo-jpg {
    margin-right: 8px;
}

.footer .footer-icons .footer-icons-logo .footer-logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .footer-icons .footer-icons-logo .footer-logo-text .footer-logo-title {
    font-family: 'Georgia';
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;

}

.footer .footer-icons .footer-icons-logo .footer-logo-text .footer-logo-paragraph {
    font-family: 'Georgia';
    font-size: 12px;
    color: #c2c2c2;
    text-transform: uppercase;
}

.footer .footer-icons .footer-icons-fonts {
    display: flex;
    justify-content: space-between;
    width: 21%;
    margin: 0 auto;
    padding-bottom: 49px;
}

.footer .footer-icons .footer-icons-fonts span {
    color: #fff;
}

.footer .footer-copyright {
    font-family: 'Georgia';
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 35px 0 32px 0;
    background-color: #131313;
}

@media(min-width: 768px) and (max-width: 991px){
    .container{
       width: 700px;
    }
    .top-header{
        background-position: center;
    }
    .top-header .top-text .top-text2{
        font-size: 81px;
    }
    .we-are-the-best .the-best-items .the-best-item{
        width: 50%;
    }
    .we-are-the-best .the-best-items .the-best-item .the-best-paragraph{
        padding: 0 10px;
    }
}