@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}




/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{text-decoration: none;}

.container{
    width: 960px;
    margin: 0 auto;
}

.top-header{
    height: 1000px;
    background-image: url('../images/header-background.jpg');
    background-size: cover;
}
.top-header .top-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.top-header .top-wrapper .menu{
    font-size: 40px;
    color: #fff;
}



.top-header .top-text{
    height: 904.6px;
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
}

.top-header .top-text .top-text1{
    font-family: 'Georgia';
    font-weight: 300;
    color: #fff;
    font-size: 51.76px;
    text-transform: uppercase;
}

.top-header .top-text .top-text2{
  font-family: 'Georgia';
    font-weight: 300;
    color: #fff;
    font-size: 103.51px;
    text-transform: uppercase;  
}

.top-header .top-text .top-text3{
  font-family: 'OpenSans';
   
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;  
}

.we-are-the-best .the-best-items{
    display: flex;
    justify-content: center;
    padding: 100px 0;
    align-items: center;
    
}

.we-are-the-best .the-best-items .the-best-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   
    
}
.we-are-the-best .the-best-items .the-best-item .the-best-text{
    font-family: 'OpenSans';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.we-are-the-best .the-best-items .the-best-item .item-font{
    font-size: 46px;
    color: #000;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 60px;
}

.we-are-the-best .the-best-items .the-best-item .item-font:hover{
    background: #e54c4c;
    color: #fff;
}
.we-are-the-best .the-best-items .the-best-item .item-font:hover .we-are-the-best-png {
    display: none;
}
.we-are-the-best .the-best-items .the-best-item .item-font:hover .we-are-the-best-png-hover{
    display: block;
}

.we-are-the-best .the-best-items .the-best-item .item-font .we-are-the-best-png-hover{
    display: none;
}
.we-are-the-best .the-best-items .the-best-item .the-best-paragraph{
    color: #666;
    font-size: 13px;
    line-height: 23px;
}

.easy-to-acces{
    background-image: url('../images/easy-to-acces-background.jpg');
    background-size: cover;
    height: 666px;
}
.easy-to-acces .easy-to-acces-wrapper{
    position: relative;
    display: flex;
    height: 666px;
    justify-content: space-between;
    align-items: center;
}

.easy-to-acces .left-smartfon{
   margin-left: -140px;
    
}
.easy-to-acces .right-text{
    width: 70%;
}

.easy-to-acces .right-text .right-text-heading{
    font-family: 'Georgia';
    font-size: 49px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.easy-to-acces .right-text .right-text-paragraph{
    font-family: 'OpenSans';
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
}

.easy-to-acces .right-text .read-more{
    font-family: 'Georgia';
    font-size: 20px;
    color: #fff;
}
.easy-to-acces .right-text .read-more .easy-to-acces-right{
    position: relative;
    top: 4px;
    right: -4px;
}

.easy-to-acces .left-smartfon img{
    position: absolute;
    bottom: 0; 
    
}

.our-services .our-services-heading .our-services-heading-h2, .our-services .our-services-heading .our-services-heading-paragraph {
    text-align: center;
}
.our-services .our-services-items{
    display: flex;
    justify-content: center;
}
.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-text{
    padding: 0 20px;
}

.our-services .our-services-items .our-services-items-left .our-services-item, .our-services .our-services-items .our-services-items-right .our-services-item{
    display: flex;
    justify-content: center;
}



.our-services .our-services-items .our-services-items-left .our-services-item .our-services-item-text .our-services-item-text-paragraph, .our-services .our-services-items .our-services-items-right .our-services-item .our-services-item-text .our-services-item-text-paragraph{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 13px;
    color: #555;
    line-height: 23px;
}